.app {
  text-align: center;
}

.notes {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 10px;
}

.note {
  border: 1px black solid;
  padding: 2px;
  display: flex;
  flex-direction: column;
}
